body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-image: url("http://wallpaper.zone/img/9535.jpg"); 
  background-color: #ffffff;
}
.btn {
  padding-botton: 20px;  
}

.btn:hover {
  transition: 0.3s;  
  box-shadow: 5px 5px 5px #000000;
  color: white;
}
.btn-lg {
  padding-botton: 20px;  
}

.btn-lg:hover {
  transition: 0.3s;  
  box-shadow: 5px 5px 5px #000000;
  color: white;
}
.login-panel {
    margin-top: 25%;
}
.panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.login-botao {
	border: 1px solid black;
}

.btn {
  padding-botton: 20px;  
}

.btn:hover {
  transition: 0.3s;  
  box-shadow: 5px 5px 5px #000000;
}
.topo {
	float: center;
	height: 150px;
	width: 100%;
}
.alinhamento {
	float: center;
	height: 150px;
	width: 100%;
}
.login-panel {
    margin-top: 25%;
}
.panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.login-botao {
	border: 1px solid black;
}
